.jumbotron {
    background-color: black;
}

.img {
    width: 40%;
}

h1 {
    color: white;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
}

h2 {
    color: black !important;
}